:root {

  --morado-pastel: #7367ff;
  --morado-claro: #e8d6ff;
  --lila: #e6c6ff;
  --blanco: #fff9fd;
  --texto: #5a3d5c;
   --texto-tabla: #fefefe;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card {
  padding: 2em;
  border-radius: 15px;
}


.app {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2 {
  color: #fdfdfd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 2px solid #fff;
}

th {
  background-color: var(--morado-pastel);
  font-weight: bold;
}


.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.btn-success {
  background-color: #ad9dff;
  color: white;
}

.btn-success:hover {
  background-color: #ff85c5;
}

.btn-danger {
  background-color: #a98dfc;
  color: white;
}

.btn-danger:hover {
  background-color: #cc8aff;
}

.btn-primary {
  background-color: #9c8aff;
  color: white;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #ffffff;
}

.add-employee-form {
  margin-bottom: 30px;
  padding: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--morado-pastel);
  box-shadow: 0 0 0 3px rgba(214, 162, 232, 0.3);
}


.btn {
  animation: float 3s ease-in-out infinite;
}
